* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: yellowgreen;
}
nav {
    font-family: 'Quicksand', sans-serif;
    background-color: darkcyan;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    width: 100%;
}
.main-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.main-icon i {
    margin-right: 10px;
    font-size: 30px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;

}
nav ul li {
    padding: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.cart-button {
    width: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;   
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);
}
.cart-button:hover #cart-icon{
    animation: cart-movement 500ms ease backwards;
}

@keyframes cart-movement {
    from {
        transform: translateX(0);
        
    } to {
        transform: translateX(100px);
    }
}

.mobile-nav {
    display: none;
}

@media (max-width: 600px) {
    .mobile-nav {
        display: flex;
        width: 100%;
    }
    .desktop-nav {
        display: none;
    }
}