* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    width: 350px;
    margin: 50px auto;
    border-collapse: collapse;
    text-align: center;
}
table th {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 20px;
}
table td{
    color: black;
    font-size: 20px;
    padding: 20px;
}
tr:nth-child(even) {
    background-color: cadetblue;
}
tr:nth-child(odd){
    background-color: cyan;
}